
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Agences</title>
    <a th:href="${'/admin/agence/add'}" class="btn btn-default">New agence</a>
</head>
<body>
<div class="container">
    this is test
    <div th:if="${not #lists.isEmpty(agences)}">
        <h2>All agences</h2>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>nom</th>
                <th>adresse</th>
                <th>chef d'agence</th>
                <th>num_fixe</th>
                <th>num_mobile</th>
                <th>fax</th>
                <th>createdAt</th>
                <th>updatedAt</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr th:each="agence : ${agences}">
                <td th:text="${agence.id}">Id</td>
                <td th:text="${agence.nom}">nom</td>
                <td th:text="${agence.adresse}">nom</td>
                <td th:text="${agence.getNom_dir()}">nom</td>
                <td th:text="${agence.num_fixe}">num_fixe</td>
                <td th:text="${agence.num_mobile}">num_mobile</td>
                <td th:text="${agence.fax}">fax</td>
                <td th:text="${agence.createdAt}">createdAt</td>
                <td th:text="${agence.updatedAt}">updatedAt</td>
                <td><a th:href="${'/admin/agence/edit/' + agence.id}" class="btn btn-default">Edit</a></td>
                <td><a th:href="${'/admin/agence/delete/' + agence.id}" class="btn btn-danger">Delete</a></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>