

    <nav class="col-sm-3 sidenav hidden-xs" th:fragment="navbar">
        <img id="logo" th:src="@{/img/logo_attijari_bank.png}">
        <ul class="nav nav-pills nav-stacked">
            <li><a href="login.php">Acceuil</a></li>
            <li><a href="demandes.php">gestion des Demandes</a></li>
            <li><a href="archive.php">archives</a></li>
            <li><a href="application.php">gestion des Application</a></li>
            <li><a href="agence.php">gestion des agence</a></li>
            <li><a href="acces.php">gestion des acccés</a></li>
            <li><a href="user.php">gestion des utilisateurs</a></li>
        </ul><br>
        <div id="profil">
            <div class="imgcontainer">
                <img th:src="@{/img/img_avatar2.png}" alt="Avatar" class="avatar">
            </div>
            <h4 style="font-weight: bold; margin-left: 30%;">Foulen ben foulen</h4>
            <p style="margin-left: 28%"> <a>Se deconecter</a> -- <a>Mon profile</a> </p>
        </div>
    </nav>
