
#logo{
    height: 180px;
    width: 220px;
    margin-left: 18%;

}
.active{
    background-color: orange ;
    color: red;
}
/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 900px}

/* Set gray background color and 100% height */
.sidenav {
    background-color: #f1f1f1;
    height: 100%;
}

/* On small screens, set height to 'auto' for the grid */
@media screen and (max-width: 767px) {
    .row.content {height: auto;}
}
.imgcontainer {
    text-align: center;
    margin: 20px 0 12px 0;
}

img.avatar {
    width: 30%;
    border-radius: 50%;
}
#profil{
    margin-top: 50%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th, td {
    text-align: left;
    padding: 16px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}
.well{
    background-color: transparent;
}

/* form style */
input[type=text], select, textarea {
    width: 100%;

    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: darkorange;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: darkorange;
}


.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}