
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Applicatins</title>

</head>
<body>

<a th:href="${'/admin/fiches/add'}" class="btn btn-default">New application</a>
<div class="container">
    this is test
    <div th:if="${not #lists.isEmpty(fiches)}">
        <h2>All Application</h2>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>nom</th>
                <th>description</th>
                <th>createdAt</th>
                <th>updatedAt</th>
                <th>Edit</th>s
                <th>Delete</th>
            </tr>
            <tr th:each="fiche : ${fiches}">
                <td th:text="${fiche.id}">Id</td>
                <td th:text="${fiche.nom}">nom</td>

                <td th:text="${fiche.createdAt}">createdAt</td>
                <td th:text="${fiche.updatedAt}">updatedAt</td>
                <td><a th:href="${'/admin/fiche/edit/' + fiche.id}" class="btn btn-default">Edit</a></td>
                <td><a th:href="${'/admin/fiche/delete/' + fcihe.id}" class="btn btn-danger">Delete</a></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>