
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Application</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/main.css}">

</head>
<body>
<div class="container-fluid">
    <div class="row-content">
        <div th:replace="fragments/navbar :: navbar">
        </div>
        <br>
        <div class="col-sm-9">
            <div class="well">
                <h4>Applications</h4>
                <p>La liste des application disponible </p>
                <a th:href="${'/admin/application/add'}" class="btn btn-default">New application</a>
                <div th:if="${not #lists.isEmpty(applications)}">
                    <h2>All Application</h2>
                    <table class="table table-striped">
                        <tr>
                            <th>Id</th>
                            <th>nom</th>
                            <th>description</th>
                            <th>Agence</th>
                            <th>Creé le</th>
                            <th>Modifier le</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                        <tr th:each="app : ${applications}">
                            <td th:text="${app.id}">Id</td>
                            <td th:text="${app.nom}">nom</td>
                            <td th:text="${app.desciprion}">nom</td>
                            <td th:text="${app.agence.nom}">nom</td>
                            <td th:text="${app.createdAt}">createdAt</td>
                            <td th:text="${app.updatedAt}">updatedAt</td>
                            <td><a th:href="${'/admin/application/edit/' + app.id}" class="btn btn-default">Edit</a></td>
                            <td><a th:href="${'/admin/application/delete/' + app.id}" class="btn btn-danger">Delete</a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

